<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!--     JDBCの設定です(1) -->
    <environments default="sakila@yqb">
        <environment id="lb01_pt@bfs">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver" />
                <property name="url" value="jdbc:postgresql://10.167.39.185:27500/dept_dev" />
                <property name="username" value="approot" />
                <property name="password" value="approot" />
            </dataSource>
        </environment>
        <environment id="lab@bfs">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://10.167.39.187:3306/lab" />
                <property name="username" value="root" />
                <property name="password" value="admin2017" />
            </dataSource>
        </environment>
        <environment id="sakila@yqb">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://hdm109008269.my3w.com:3306/hdm109008269_db" />
                <property name="username" value="hdm109008269" />
                <property name="password" value="yqb18600055110" />
            </dataSource>
        </environment>
        <environment id="sakila@bfs">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://10.167.39.187:3306/sakila" />
                <property name="username" value="root" />
                <property name="password" value="admin2017" />
            </dataSource>
        </environment>
    </environments>

<!--     エンティティのパッケージを指定します(2) -->
    <mappers>
        <package name="com.example.entity" />
        <package name="com.feast.kanjo.entity" />
    </mappers>

</configuration>